<a href="https://colab.research.google.com/github/harmankhattra16/MiniProject_03_SubsetSelectionProblem/blob/main/SubsetSelectionUsingPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---


#**Subset Selection Problem**

---

**1. Problem Statement:**

Find all the subsets from a set of numbers whose sum is zero.

**Constraint: Subset size must be 5**

Set={-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4}

##**1.1 Library inclusion**

In [1]:
import random as r

##**1.2 Parameter Setting**

In [2]:
Set         = set([-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4])
SetSize     = 5
ResultList  = set()    # Store Result List i.e. list of sets whose sum is zero
Iterations  = 1000    # Number of Inerations

##**1.3 Start Program**

In [4]:
# Loop till number of Iterations
for i in range(Iterations):
    # Select number of elements from Set
    Chromosome = r.sample(list(Set),SetSize)

    # Sum the number of elements in the Chromosome
    if sum(Chromosome) == 0:
        ResultList.add(tuple(Chromosome))

##**1.4 Print the sets and total count**

In [5]:
# Print all the sets whose sum is zero
for r in ResultList:
	print (r)

# Print total sets
print ("\nTotal Sets: ", len(ResultList), "\n")

(11, 3, -8, -2, -4)
(1, 2, -4, -8, 9)
(-8, 6, 9, -4, -3)
(-12, 3, -4, 6, 7)
(-9, 11, -7, -2, 7)
(-6, 11, 3, -3, -5)
(-7, 9, 1, 2, -5)
(-7, 3, 6, -3, 1)
(-2, -4, 11, -8, 3)
(7, 6, -9, -5, 1)
(-12, 6, -3, 2, 7)
(-2, 11, 7, -4, -12)
(1, -3, 9, -2, -5)
(-7, 2, -8, 7, 6)
(3, -9, 11, -2, -3)
(-4, 11, 1, -2, -6)
(7, 1, -7, 11, -12)
(-9, 9, -5, 7, -2)
(1, 11, 2, -12, -2)
(9, -2, -6, 2, -3)
(1, -9, -12, 9, 11)
(-3, 9, 2, 1, -9)
(1, 7, -12, 9, -5)
(-2, -5, -3, 9, 1)
(-3, -6, 6, -4, 7)
(7, 9, -5, -8, -3)
(2, 6, -6, 3, -5)
(-2, 2, 3, 9, -12)
(2, -7, 7, 3, -5)
(9, -6, -5, -9, 11)
(3, 9, 7, -12, -7)
(6, 3, -9, -2, 2)
(-5, -4, 2, -2, 9)
(7, -12, 11, -4, -2)
(-5, 9, 11, -3, -12)

Total Sets:  35

---


**2. Problem Statement:**

Find all the subsets from a set of numbers whose sum is zero.

**Constraint: Subset size must be 3 to 6 only**

Set={-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4}


---

In [8]:
# Step 1: Library inclusion
import random as r


# Step 2: Parameter Setting
Set         = set([-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4])
SetLB       = 3
SetUB       = 6
ResultList  = set()    # Store Result List i.e. list of sets whose sum is zero
Iterations  = 1000   # Number of Inerations


# Step3: Start Program

# Loop till number of Iterations
for i in range(Iterations):
    # Select set size randomly
    SetSize = r.randint(SetLB,SetUB)

    # Select number of elements from Set
    Chromosome = r.sample(list(Set),SetSize)
    Chromosome.sort()

    # Sum the number of elements in the Chromosome
    if sum(Chromosome) == 0:
        ResultList.add(tuple(Chromosome))

# Print all the sets whose sum is zero
for r in ResultList:
        print (r)

# Print total sets
print ("\nTotal Sets: ", len(ResultList))

(-12, -7, -3, 2, 9, 11)
(-5, 2, 3)
(-9, -7, -4, 9, 11)
(-12, -2, 3, 11)
(-7, -6, -2, 6, 9)
(-6, -4, 3, 7)
(-12, -3, 1, 3, 11)
(-7, -6, -2, 2, 6, 7)
(-9, -7, -5, 1, 9, 11)
(-6, 1, 2, 3)
(-8, -2, 1, 9)
(-8, 1, 7)
(-8, 2, 6)
(-7, -4, 11)
(-12, -5, -2, 1, 7, 11)
(-9, -6, 6, 9)
(-8, -7, -6, 1, 9, 11)
(-6, -5, 11)
(-8, -5, 2, 11)
(-9, -6, -2, 6, 11)
(-9, -8, 6, 11)
(-12, -9, -6, 7, 9, 11)
(-3, 1, 2)
(-8, -6, -4, -2, 9, 11)
(-7, 1, 6)
(-12, -9, 3, 7, 11)
(-12, -7, -2, 3, 7, 11)
(-9, -8, -3, 3, 6, 11)
(-5, -4, -2, 11)
(-8, -3, 11)
(-9, -3, -2, 3, 11)
(-7, -3, 3, 7)
(-9, 1, 2, 6)
(-5, -4, 9)

Total Sets:  34